@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/Inter-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/Inter-ExtraBold.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: underline;
  color: currentColor;
}

a:focus {
  outline: 2px dotted currentColor;
  outline-offset: 2px;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --dark-blue: hsl(240 100% 5%);
  --dark-gray-blue: hsl(236 13% 42%);
  --gray-blue: hsl(233 8% 79%);
  --off-white: hsl(36 100% 99%);
  --orange: hsl(35 77% 62%);
  --red: hsl(5 85% 63%);
  --spacing-xxxl: 4rem;
  --spacing-xxl: 2.5rem;
  --spacing-xl: 2rem;
  --spacing-l: 1.875rem;
  --spacing-m: 1.5rem;
  --spacing-s: 1.25rem;
  --spacing-xs: 1rem;
  --spacing-xxs: 0.75rem;
  --spacing-xxxs: 0.5rem;
  --font-base: "Inter", sans-serif;
  --leading-none: 1;
  --leading-flat: 1.2;
  --leading-fine: 1.3;
  --leading-standard: 1.7;
  --text-xxl: 3.5rem;
  --text-xl: 2.5rem;
  --text-l: 2rem;
  --text-m: 1.25rem;
  --text-s: 1.125rem;
  --text-xs: 0.9375rem;
  --text-xxs: 0.875rem;
}

body {
  background-color: var(--off-white);
  font-family: var(--font-base);
  font-size: var(--text-xs);
  min-height: 100vh;
  position: relative;
}

.hidden {
  display: none;
}

.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn-icon {
  background-color: var(--off-white);
  border: 0;
  color: var(--dark-blue);
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;
}
.btn-icon:focus, .btn-icon:hover {
  color: var(--red);
  outline: 2px dotted var(--red);
  outline-offset: 6px;
}

@media (min-width: 44.875rem) {
  .mobile-nav__open {
    display: none;
  }
}

.mobile-nav__close {
  position: fixed;
  top: calc(var(--spacing-m) + 4px);
  right: calc(var(--spacing-s) + 2px);
  z-index: 1;
}

.card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "image content";
  column-gap: var(--spacing-m);
}
.card__header {
  max-width: 14.125rem;
}
.card__number {
  color: var(--red);
  display: block;
  font-size: var(--text-l);
  font-weight: 700;
  margin-block-end: var(--spacing-xxs);
}
.card__title {
  color: var(--dark-blue);
  font-size: var(--text-s);
  font-weight: 800;
  line-height: var(--leading-fine);
  padding-block-end: var(--spacing-xxxs);
}
.card__link {
  text-decoration: none;
}
.card__link:hover {
  color: var(--red);
}
.card__text {
  color: var(--dark-gray-blue);
  line-height: var(--leading-standard);
}
.card__image {
  background-color: var(--gray-blue);
  grid-area: image;
  max-height: 8.0625rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: calc(var(--spacing-s) + var(--spacing-xxxs));
  margin-block-end: var(--spacing-xl);
}
@media (min-width: 69.375rem) {
  .main-header {
    padding-block-start: calc(var(--spacing-xxxl) + var(--spacing-m));
    margin-block-end: calc(var(--spacing-l) + var(--spacing-m));
  }
}

.logo svg {
  pointer-events: none;
  height: 1.75rem;
  width: 2.8125rem;
}

.skip-link {
  background-color: var(--off-white);
  color: var(--dark-blue);
  display: inline-block;
  font-size: var(--text-m);
  line-height: var(--leading-none);
  padding: 0.75rem;
  position: absolute;
  top: -var(--spacing-xxs);
  left: var(--spacing-xs);
}
.skip-link:not(:focus) {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.main-nav {
  background-color: var(--off-white);
  color: var(--dark-blue);
}
.main-nav-list {
  background-color: var(--off-white);
  display: flex;
  flex-direction: var(--nav-list-layout, column);
  flex-wrap: wrap;
  gap: var(--spacing-m);
  height: var(--nav-list-height, 100dvh);
  padding-block-start: calc(var(--spacing-xxxl) + var(--spacing-xxxl) + var(--spacing-xs));
  padding-inline: var(--spacing-m);
  position: var(--nav-list-position, fixed);
  inset: 0 0 0 8rem;
  visibility: var(--nav-list-visibility, hidden);
}
.main-nav-list:first-child {
  --nav-list-layout: row;
  --nav-list-position: static;
  --nav-list-height: auto;
  --nav-list-width: 100%;
  --nav-list-visibility: visible;
  padding-block-start: 0;
}
@media (min-width: 44.875rem) {
  .main-nav-list {
    --nav-list-layout: row;
    --nav-list-position: static;
    --nav-list-height: auto;
    --nav-list-width: 100%;
    --nav-list-visibility: visible;
    gap: var(--spacing-xxl);
    height: var(--nav-list-height, auto);
    padding-block-start: 0;
  }
}
.main-nav__link {
  font-size: var(--text-xs);
  text-decoration: none;
}
.main-nav__link:hover, .main-nav__link:focus {
  color: var(--red);
}
@media (min-width: 44.875rem) {
  .main-nav {
    --nav-list-position: static;
  }
}

.mobile-nav__open[aria-expanded=true] ~ .main-nav-list {
  --nav-list-visibility: visible;
}

.featured-article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "image" "headline" "lede";
  margin-block-end: var(--spacing-xxxl);
}
@media (min-width: 69.375rem) {
  .featured-article {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image image" "headline lede";
    gap: var(--spacing-m);
    margin-block-end: 0;
  }
}
.featured-article__title {
  grid-area: headline;
  font-size: var(--text-xl);
  font-weight: 800;
  line-height: var(--leading-none);
  margin-block-start: var(--spacing-m);
  margin-block-end: var(--spacing-xs);
}
@media (min-width: 69.375rem) {
  .featured-article__title {
    font-size: var(--text-xxl);
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
.featured-article picture {
  grid-area: image;
}
.featured-article__content {
  color: var(--dark-gray-blue);
  line-height: var(--leading-standard);
  grid-area: lede;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--spacing-m);
}
.featured-article__link {
  background-color: var(--red);
  color: var(--dark-blue);
  font-size: var(--text-xxs);
  font-weight: 700;
  letter-spacing: 4.375px;
  max-width: 11.75rem;
  padding-block: var(--spacing-xxs);
  padding-inline: var(--spacing-xl);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.featured-article__link:hover {
  background-color: var(--dark-blue);
  color: var(--off-white);
}

.recent-news {
  background-color: var(--dark-blue);
  color: var(--off-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
  padding-block: var(--spacing-m);
  padding-inline: var(--spacing-s);
}
.recent-news__heading {
  color: var(--orange);
  font-size: var(--text-l);
  line-height: var(--leading-none);
  margin-block-end: 0.3125rem;
}
@media (min-width: 69.375rem) {
  .recent-news__heading {
    font-size: var(--text-xl);
  }
}
.recent-news__article {
  border-bottom: 1px solid var(--dark-gray-blue);
  padding-block-end: var(--spacing-l);
}
.recent-news__article:last-child {
  border-bottom: none;
  padding-block-end: 0;
}
.recent-news__title {
  font-size: var(--text-m);
  line-height: var(--leading-flat);
  font-weight: 800;
  margin-block-end: var(--spacing-xxxs);
}
.recent-news__text {
  color: var(--gray-blue);
  font-size: var(--text-xs);
  line-height: var(--leading-standard);
}
.recent-news__link {
  text-decoration: none;
}
.recent-news__link:hover {
  color: var(--orange);
}

.news-feed {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  padding-block-start: var(--spacing-xxxl);
  padding-block-end: calc(var(--spacing-xxl) * 2);
}
@media (min-width: 69.375rem) {
  .news-feed {
    flex-direction: row;
    grid-column: 1/span 2;
  }
}

.main-footer {
  color: var(--dark-gray-blue);
  margin-block-end: var(--spacing-m);
  text-align: center;
  text-wrap: balance;
}
.main-footer a:hover {
  color: var(--dark-blue);
  text-decoration: none;
}

.wrapper {
  margin-inline: var(--spacing-xs);
  max-width: 69.375rem;
}
@media (min-width: 69.375rem) {
  .wrapper {
    margin-inline: auto;
  }
}

@media (min-width: 69.375rem) {
  .main-wrapper {
    display: grid;
    grid-template-columns: 1fr 21.875rem;
    grid-template-rows: auto;
    column-gap: var(--spacing-xl);
  }
}
