// Footer Styles

.main-footer {
  color: var(--dark-gray-blue);
  margin-block-end: var(--spacing-m);
  text-align: center;
  text-wrap: balance;

  a:hover {
    color: var(--dark-blue);
    text-decoration: none;
  }
}
