// Footer Styles

.main-footer {
  color: var(--dark-gray-blue);
  margin-block-end: var(--spacing-m);
  text-align: center;
  text-wrap: balance;

  @media (min-width: 69.375rem) {
    margin-block-end: 0;
  }

  a:hover {
    color: var(--dark-blue);
    text-decoration: none;
  }
}
