// Header Styles

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: calc(var(--spacing-s) + var(--spacing-xxxs));
  margin-block-end: var(--spacing-xl);

  @media (min-width: 69.375rem) {
    padding-block-start: calc(var(--spacing-xxxl) + var(--spacing-m));
    margin-block-end: calc(var(--spacing-l) + var(--spacing-m));
  }
}

.logo svg {
  pointer-events: none;
  height: 1.75rem;
  width: 2.8125rem;
}

.skip-link {
  background-color: var(--off-white);
  color: var(--dark-blue);
  display: inline-block;
  font-size: var(--text-m);
  line-height: var(--leading-none);
  padding: 0.75rem;
  position: absolute;
  top: var(--spacing-xxs);
  left: var(--spacing-xs);

  &:not(:focus) {
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
  }
}
