// Container/Wrapper Styles

.wrapper {
  margin-inline: var(--spacing-xs);
  max-width: 69.375rem;

  @media (min-width: 69.375rem) {
    margin-inline: auto;
  }
}

.main-wrapper {
  @media (min-width: 69.375rem) {
    display: grid;
    grid-template-columns: 1fr 21.875rem;
    grid-template-rows: auto;
    column-gap: var(--spacing-xl);
  }
}
