// Button Styles

// Icon Menu Buttons
.btn-icon {
  background-color: var(--off-white);
  border: 0;
  color: var(--dark-blue);
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;

  &:focus,
  &:hover {
    color: var(--red);
    outline: 2px dotted var(--red);
    outline-offset: 6px;
  }
}

// Nav Button Styles
.mobile-nav__open {
  @media (min-width: 44.875rem) {
    display: none;
  }
}

.mobile-nav__close {
  position: fixed;
  top: calc(var(--spacing-m) + 4px);
  right: calc(var(--spacing-s) + 2px);
  z-index: 1;
}
