// Base Styles

:root {
  // Typography
  --font-base: 'Inter', sans-serif;
}

body {
  font-family: var(--font-base);
  min-height: 100vh;
}

.hidden {
  display: none;
}

// Screen reader styles
.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
